<div class="col-md-8">    
    <form method="get" action="{{ path('app_search_engine') }}" class="d-flex justify-content-center" role="search">
        <input name="word" class="form-control me-2" type="search" placeholder="votre recherche ici" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Rechercher</button>
    </form>
</div>
